<html lang="en">
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
      <% if (blogContent.length > 0) { %> <% blogContent.forEach(blogContent =>
      { %>

      <a class="single" href="/blogs/<%=blogContent._id %>">
        <h3 class="blog-title"><%= blogContent.title %></h3>
        <p class="blog-snippet"><%= blogContent.snippet %></p>
        <p class="blog-snippet"><%= blogContent.body %></p>
      </a>
      <% }) %> <% } else { %>
      <p>There is no content to display</p>
      <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
